.wrap-home {
	padding-top: 100px;

	.home-userinfo {
		position: absolute;
		top: 20px;
		right: 3%;
		cursor: default;

		.info-name {
			display: inline-block;
		    margin-right: 20px;
		}
	}

	.list-item {
		padding-left: 11px;
		
		&.completed {
			text-decoration: line-through;
			color: #ccc;
		}
	}

	.home-wrap-footer {
		margin-top: 24px;

		&::before,
		&::after {
			content: '';
			display: table;
		}

		&::after {
			clear: both;
		}

		ul {
			display: inline-block;
			float: right;
		}
	}
}