.wrap-home {
	padding-top: 10rem;

	.home-userinfo {
		position: absolute;
		top: 20px;
		right: 3%;
		cursor: default;

		.info-name {
			display: inline-block;
		    margin-right: 2rem;
		}
	}

	.home-config {
		position: absolute;
		top: -80px;
		height: 3.9rem;
		line-height: 3.9rem;
	}

	.list-item {
		padding-left: 1.1rem;

		&:last-child {
			border-bottom: 1px solid #e8e8e8;
		}

		label {
			width: 100%;

			span:first-child {
				float: right;
				margin-top: .3rem;
			}
		}
		
		&.completed {
			text-decoration: line-through;
			color: #ccc;
		}
	}

	.home-wrap-footer {
		margin-top: 2.4rem;

		&::before,
		&::after {
			content: '';
			display: table;
		}

		&::after {
			clear: both;
		}

		.footer-filterlink {
			display: inline-block;
			float: left;
			padding-top: .2rem;

			a {
				margin-right: 1rem;

				&:last-child {
					margin-right: 0;
				}
			}

			@media (max-width: 380px){ 
				float: right;
				padding-top: 1.4rem;
			}  
		}

		.fotter-pagination {
			display: inline-block;
			float: right;

			li {
				margin-right: .7rem;
			}
		}
	}
}